.maki-invis-overlay {
    position: absolute;
    z-index: 99999999999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.maki-note {
    background: #F4E6D6;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.maki-note-input {
    flex-grow: 1;
    margin: 4px;
    width: auto;
    min-width: 200px;
    min-height: 100px;
}

.maki-note-button {
    margin: 4px;
}
